.button-collapse {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.brand-logo {
  padding: 0 0 0 20px !important;
}

.tech {
  width: 150px;
  height: auto;
  margin: 5px 10px;
}

.tech-long {
  height: 100px;
  width: auto;
  margin: 5px 10px;
}

.pinned {
  position: fixed !important;
  top: 35%;
  font-size: 20px;
}
.white-text {
  color: rgba(255, 255, 255, 0.901961);
}

blockquote {
  border-left: 5px solid #BBDEFB !important;
}
.table-of-contents a.active {
  border-left: 3px solid #BBDEFB !important;
}

.table-of-contents a:hover {
  border-left: 1px solid #BBDEFB !important;
}

.chip {
  cursor: pointer;
}
.table-of-contents {
  margin: 0;
}
#name {
  font-weight: bold;
  padding-bottom: 5px;
}